html, body, .title, .container {
	padding: 0;
	margin: 0;
}

body {
	background: #2525df;
}

.container {
	display: flex;
	justify-content: space-around;
	padding: 8px;

}

img{
	
	height: 300px;	
}

.title {
	text-align: center;	
	font-size: 42px;
	color: #e5e900;
	background: #2525df;
	margin-top: -58px;
}



.score {
	text-align: center;
	color: #e5e900;
	background: #2525df;
	margin-top: -57px;
	padding-top: 5px;
}


.score-game {
	display: flex;
	justify-content: center;
	gap: 16px;
	color: #e5e900;
	margin-top: -25px;
}

.result {
	text-align: center;
	margin-top: 32px;
	color:#e5e900;
}